#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    transition: background-color var(--theme-delay);
}

#leftbar, #rightbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 4rem;
    padding: 0 0.5rem 4rem 0.5rem;
}

#rightbar {
    margin: auto 0 0 0;
}

#topbar {
    align-items: center;
    background-color: var(--color-background);
    display: flex;
    flex-direction: row;
    padding: 0.8125rem 6rem 0.8125rem 6rem;
    transition: background-color var(--theme-delay);
}

#center {
    background-color: var(--color-background);
    display: flex;
    flex-direction: row;
    height: 100%;
    transition: background-color var(--theme-delay);
}

#main {
    width: 100%;
}

#outer-content {
    height: 100%;
}