# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
Bin/
obj/
Obj/

**/.angular
**/node_modules
**/logs
**/reports
**/uploaded expenses
**/uploaded lease agreements
**/uploaded cashiers
**/ssl
**/appsettings.json
**/desktop.ini
**/*lock.json
