<mat-tab-group #tabGroup (selectedTabChange)="onTabChange($event)" [selectedIndex]="getActiveTab()" mat-stretch-tabs="false">
    <mat-tab label="Σκάφη & Ελλιμενισμοί">
        <div id="cards-menu">
            <mat-card (click)="doNavigation('boats',true)">
                <img (load)="loadImage()" [ngClass]="imageIsLoading()" [src]="getIcon('boats')" style="height: 6.25rem; margin-left: 1rem; width: 6.25rem">
                <div class="inner-content">
                    <mat-card-title>{{ getLabel("boatsTitle") }}</mat-card-title>
                    <mat-divider inset></mat-divider>
                    <mat-card-subtitle>{{ getLabel("boatsSubTitle") }}</mat-card-subtitle>
                </div>
            </mat-card>
            <mat-card (click)="doNavigation('reservations',true)">
                <img (load)="loadImage()" [ngClass]="imageIsLoading()" [src]="getIcon('reservations')" style="height: 6.25rem; margin-left: 1rem; width: 6.25rem">
                <div class="inner-content">
                    <mat-card-title>{{ getLabel("reservationsTitle") }}</mat-card-title>
                    <mat-divider inset></mat-divider>
                    <mat-card-subtitle>{{ getLabel("reservationsSubTitle") }}</mat-card-subtitle>
                </div>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>