<div id="form-wrapper">

    {{ form.value | json }}

    <div id="content">

        <div id="header">

            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [header]="getNewOrEditHeader()" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
            <div *ngIf="isNotNewRecord()" id="boat-name">
                <span>{{ this.form.value.boatName }}</span>
            </div>
        </div>

        <form [formGroup]="form" id="form">
            <mat-form-field>
                <mat-label>{{ getLabel('boat') }}</mat-label>
                <input #inputAutoComplete #triggerBoats="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="boats" class="tabable" formControlName="boat" matInput>
                <div matSuffix style="display:flex">
                    <button (click)="openOrCloseAutoComplete(triggerBoats, 'boat')" mat-icon-button type="button">
                        <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                    </button>
                </div>
            </mat-form-field>
            <div class="group-input-field">
                <mat-form-field>
                    <mat-label>{{ getLabel('fromDate') }}</mat-label>
                    <input [inputTabStop]="input" [matDatepicker]="fromDatePicker" class="tabable" formControlName="fromDate" matInput>
                    <mat-datepicker-toggle matIconSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #fromDatePicker></mat-datepicker>
                    <mat-error *ngIf="fromDate.hasError('required')">{{ getHint("required") }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ getLabel('toDate') }}</mat-label>
                    <input [inputTabStop]="input" [matDatepicker]="toDatePicker" class="tabable" formControlName="toDate" matInput>
                    <mat-datepicker-toggle matIconSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #toDatePicker></mat-datepicker>
                    <mat-error *ngIf="toDate.hasError('required')">{{ getHint("required") }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ getLabel('days') }}</mat-label>
                    <input [inputTabStop]="input" class="tabable" formControlName="days" matInput>
                    <mat-error *ngIf="days.hasError('required')">{{ getHint("required") }}</mat-error>
                </mat-form-field>
            </div>
            <div formArrayName="berths">
                <div *ngFor="let test of berths.controls; let index=index; let last=last;" [formGroupName]="index">
                    <mat-form-field>
                        <mat-label>{{ getLabel("berth") }}</mat-label>
                        <input [inputTabStop]="input" class="tabable" formControlName="description" matInput required>
                        <mat-error *ngIf="form.value.berths[index]">{{ getHint("required") }}</mat-error>
                        <button (click)="onRemoveBerth(index)" mat-icon-button type="button">
                            <mat-icon class="input-suffix material-icons-outlined">close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <span (click)="onAddBerthTextBox()" id="add-berth-button">
                <mat-icon class="material-icons-outlined">add</mat-icon>
            </span>
            <div>
                <div class="stacked-checkboxes">
                    <mat-checkbox formControlName="isPassingBy">
                        <span>{{ getLabel("isPassingBy") }}</span>
                    </mat-checkbox>
                    <mat-checkbox formControlName="isDocked">
                        <span>{{ getLabel("isDocked") }}</span>
                    </mat-checkbox>
                    <mat-checkbox formControlName="isDryDock">
                        <span>{{ getLabel("isDryDock") }}</span>
                    </mat-checkbox>
                </div>
            </div>
        </form>

    </div>

    <div id="footer">
        <div id="align-right">
            <button *ngIf="form.value.reservationId != ''" (click)="onDelete()" [disabled]="!isAdmin()" class="delete" mat-flat-button>
                <span>{{ getLabel('deleteButton') | uppercase }}</span>
            </button>
            <button (click)="onSave(true)" [disabled]="!form.valid " class="no-right-border-radius primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>

<mat-autocomplete #boats="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownBoats | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>