:host {
    height: 100%;
}

.group-input-field:last-child {
    margin-top: auto;
}

#add-berth-button {
    background-color: var(--color-button-secondary);
    border-radius: 1rem;
    color: var(--color-button-text);
    height: 1.5625rem;
    margin: 0.9375rem 0 0 0;
    width: 1.5625rem;
}

#textarea {
    height: 10rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    resize: none;
}

#tab-content {
    column-gap: 1rem;
    display: flex;
}

#ownwer-tab, #billing-tab {
    width: 100%;
}

#tab-content .label {
    color: var(--color-button-primary);
    display: flex;
    font-family: var(--font-family-asty);
    font-size: 0.875rem;
    font-weight: 300;
    padding: 0 0 1rem 1rem;
}

#owner-tab-header {
    padding: 0 0 3px 0;
}

#billing-tab-header {
    display: flex;
    justify-content: space-between;
}

#copy-owner-to-billing {
    color: var(--color-button-secondary) !important;
    margin-top: -0.6875rem;
    padding: 0.6875rem 1rem 0.5rem 1rem !important;
}

#copy-owner-to-billing:hover {
    cursor: pointer;
}

#boat-name {
    align-items: center;
    color: #466dab;
    display: flex;
    font-family: var(--font-family-asty);
    font-size: 1rem;
    font-weight: 300;
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 0.25rem;
    transform: scale(1, 1.4);
}

#documents {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem 0 auto 0;
}

.document {
    align-items: center;
    column-gap: 0.5rem;
    display: flex;
    margin: 0 0 0 1rem;
}

.document div span {
    color: var(--color-text) !important;
    font-family: var(--font-family-asty) !important;
    font-size: 0.875rem !important;
    font-variant: unicase;
    font-weight: 300;
    margin: 0 1rem 0 0;
    transition: color var(--theme-delay) !important;
}

.mdc-label {
    display: none !important;
}