@model API.Infrastructure.Users.UserDetailsForEmailVM

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
    <div id="wrapper">
        <p style="font-family: Tahoma; font-size: 13px;">👋 Γεια σας, @Model.Displayname</p>
        <div style="font-family: Tahoma; font-size: 13px;">Καλώς ήρθατε στην εφαρμογή της Μαρίνας Μπενιτσών.</div>
        <div style="font-family: Tahoma; font-size: 13px;">Λαμβάνετε αυτό το email επειδή έχουμε ανοίξει έναν νέο λογαριασμό για εσάς.</div>
        <div style="font-family: Tahoma; font-size: 13px;">Συμπληρωματικά, η εφαρμογή έχει δημιουργήσει έναν προσωρινό κωδικό πρόσβασης, τον οποίο πρέπει να αλλάξετε ώστε να σας επιτραπεί η είσοδος.</div>
        <div style="font-family: Tahoma; font-size: 13px;">Παρακαλούμε κάντε κλικ στον παρακάτω σύνδεσμο και στη συνέχεια στο «Ξέχασα τον κωδικό μου» για να ορίσετε έναν νέο κωδικό πρόσβασης.</div>
        <p></p>
        <div style="font-family: Tahoma; font-size: 13px; text-decoration: none !important;"><a class="primary" href="@Model.Url">Ορισμός νέου κωδικού</a></div>
        <p></p>
        <div style="font-family: Tahoma; font-size: 13px;">Ευχαριστούμε για τη συνεργασία!</div>
        <p></p>
        <div style="font-family: Tahoma; font-size: 13px;">τηλέφωνα: @Model.CompanyPhones</div>
        <div style="font-family: Tahoma; font-size: 13px;">email: info@benitsesmarina.com</div>
        <div style="font-family: Tahoma; font-size: 13px;">website: www.benitsesmarina.com</div>
        <div style="font-family: Tahoma; font-size: 13px;">web application: www.appbenitsesmarina.com.com</div>
        <p></p>
        <div style="font-family: Tahoma; font-size: 13px;">🚫 Σας παρακαλούμε μην απαντάτε σε αυτό το email επειδή δεν πρόκειται να το λάβει κανένας.</div>
    </div>
</body>

</html>