* {
    --color-background-table-header: #ededed;
    --color-background: #fefefe;
    --color-button-fab-hover: #f1f1f1;
    --color-calendar-day: #dbdbdb;
    --color-dialog-areas-seperator: #ebebeb;
    --color-dialog-background: #fefefe;
    --color-flag-border: #000000;
    --color-input-background: #f9f9f9;
    --color-input-error: #ff8a82;
    --color-logo-benitses: #0077b6;
    --color-logo-marina: #000000;
    --color-logo: #000000;
    --color-menu-background: #f3f4f6;
    --color-secondary: #7BB7DD;
    --color-tab-active: #00ffff0f;
    --color-table-header-footer: #f5fefe;
    --color-table-row-percentage: #ffcdb2;
    --color-text: #000000;
    --color-transparent-button-hover: #ffffff;
    --color-transparent-button: #000000;
}