* {
    box-sizing: border-box !important;
}

#dialog {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem 2rem 1rem 2rem;
    row-gap: 1rem;
}

#dialog-header {
    display: flex;
    justify-content: space-between;
}

#dialog-content {
    display: flex;
    height: 100%;
}

#form {
    column-gap: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#dialog-footer {
    border-top: 1px solid var(--color-dialog-areas-seperator);
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 0;
}

#dialog-footer #align-right {
    column-gap: 1rem;
    display: flex;
    margin: 0 0 0 auto;
}