<div id="list-wrapper">

    <button (click)="gotoTop()">Los!</button>
    <div id="content">
        <div id="header">
            <home-button-and-title [featureIcon]="featureIcon" [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>
        <div id="table-wrapper">
            <p-table #table (onFilter)="onFilterRecords($event)" [(selection)]="selectedRecords" [scrollable]="true" [value]="records" [virtualScrollItemSize]="32" [virtualScroll]="true" dataKey="id" scrollHeight="flex" selectionMode="multiple" sortMode="multiple" stateKey="boatList-filters" stateStorage="session" id="myTable">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="no-border-bottom width-3" pSortableColumn="isActive">{{ getLabel("headerIsActive") }}</th>
                        <th class="no-border-bottom width-10" pSortableColumn="description">{{ getLabel("headerDescription") }}</th>
                        <th class="no-border-bottom width-10" pSortableColumn="registryNo">{{ getLabel("headerRegistryNo") }}</th>
                        <th class="no-border-bottom width-3" pSortableColumn="loa">{{ getLabel("headerLoa") }}</th>
                        <th class="no-border-bottom width-3" pSortableColumn="beam">{{ getLabel("headerBeam") }}</th>
                        <th class="no-border-bottom width-3" pSortableColumn="isAthenian">{{ getLabel("headerIsAthenian") }}</th>
                        <th class="no-border-bottom width-3" pSortableColumn="isFishingBoat">{{ getLabel("headerIsFishingBoat") }}</th>
                    </tr>
                    <tr>
                        <th class="no-border-top width-3"><p-columnFilter field="isActive" type="boolean"></p-columnFilter></th>
                        <th class="no-border-top width-10"><p-columnFilter (input)="onFilter($event.target.value,'description','contains')" field="description"></p-columnFilter></th>
                        <th class="no-border-top width-10"><p-columnFilter (input)="onFilter($event.target.value,'registryNo','contains')" field="registryNo"></p-columnFilter></th>
                        <th class="no-border-top width-3"><p-columnFilter (input)="onFilter($event.target.value,'loa','contains')" field="loa"></p-columnFilter></th>
                        <th class="no-border-top width-3"><p-columnFilter (input)="onFilter($event.target.value,'beam','contains')" field="beam"></p-columnFilter></th>
                        <th class="no-border-top width-3"><p-columnFilter field="isAthenian" type="boolean"></p-columnFilter></th>
                        <th class="no-border-top width-3"><p-columnFilter field="isFishingBoat" type="boolean"></p-columnFilter></th>
                    </tr>
                </ng-template>
                <ng-template let-record pTemplate="body">
                    <tr (click)="onHighlightRow(record.id)" (dblclick)="onEditRecord(record.id)" [attr.id]=record.id style="height: 32px;">
                        <td class="width-3"><span [ngClass]="colorizeIcon(record.isActive)" class="center material-symbols-outlined no-left-padding no-overflow" style="padding-top: 0 !important;">{{ getIcon(record.isActive,false) }}</span></td>
                        <td class="width-10"><span>{{ record.description }}</span></td>
                        <td class="width-10"><span>{{ record.registryNo }}</span></td>
                        <td class="width-3"><span class="center no-left-padding no-overflow">{{ record.loa }}</span></td>
                        <td class="width-3"><span class="center no-left-padding no-overflow">{{ record.beam }}</span></td>
                        <td class="width-3"><span [ngClass]="colorizeIcon(record.isAthenian)" class="center material-symbols-outlined no-left-padding no-overflow color-green" style="font-size: 0.75rem; padding-top: 0 !important;">{{ getIcon(record.isAthenian,true) }}</span></td>
                        <td class="width-3"><span [ngClass]="colorizeIcon(record.isFishingBoat)" class="center material-symbols-outlined no-left-padding no-overflow color-green" style="font-size: 0.75rem; padding-top: 0 !important;">{{ getIcon(record.isFishingBoat,true) }}</span></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div id="footer">
        <table-total-filtered-records (resetTableFilters)="onResetTableFilters()" [filteredRecordCount]="recordsFilteredCount" [mustShowSelectedFilteredCount]="true" [recordCount]="records.length" [selectedRecordCount]="selectedRecords.length"></table-total-filtered-records>
        <div id="align-right">
            <button (click)="onNewRecord()" [disabled]="!isAdmin()" class="primary" mat-flat-button>
                <mat-icon *ngIf="!isAdmin()" class=" material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("newRecord") | uppercase }}</span>
            </button>
        </div>
    </div>
</div>