.width-3 {
    max-width: 3rem;
    min-width: 3rem;
    width: 3rem;
}

.width-4 {
    max-width: 4rem;
    min-width: 4rem;
    width: 4rem;
}

.width-5 {
    max-width: 5rem;
    min-width: 5rem;
    width: 5rem;
}

.width-6 {
    max-width: 6rem;
    min-width: 6rem;
    width: 6rem;
}

.width-7 {
    max-width: 7rem;
    min-width: 7rem;
    width: 7rem;
}

.width-8 {
    max-width: 8rem;
    min-width: 8rem;
    width: 8rem;
}

.width-9 {
    max-width: 9rem;
    min-width: 9rem;
    width: 9rem;
}

.width-10 {
    max-width: 10rem;
    min-width: 10rem;
    width: 10rem;
}

.width-11 {
    max-width: 11rem;
    min-width: 11rem;
    width: 11rem;
}

.width-12 {
    max-width: 12rem;
    min-width: 12rem;
    width: 12rem;
}

.width-16 {
    max-width: 16rem;
    min-width: 16rem;
    width: 16rem;
}

.width-18 {
    max-width: 18rem;
    min-width: 18rem;
    width: 18rem;
}

.width-auto {
    max-width: auto;
    min-width: auto;
    width: auto;
}